body {
background-color:Aquamarine;
font-size:30px;
}
h1 {
  color: #FFF;
  font-family: "Playfair Display", serif;
  font-size: 32px;
  padding-top: 100px;
  text-align: left;
  text-transform: uppercase;
  width: 60%;
}
p {
  color: Green;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 100;
  line-height: 1.7em;
  text-align: left;
  width: 100%;
}
ul {
  font-size: 20px
}
